---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}


<!-- ---
layout: single
classes: wide
---

<p>I am a Researcher and PhD student in the <b>Doctoral Program in Materials, Mechatronics and Systems Engineering (<a href="https://www.unitn.it/drmmse/">DRMMSE</a>)</b> at the <b>University of Trento</b>. 

<p>Please feel free to navigate through the site to find out more about me.</p>

<a href="http://www.hitwebcounter.com" target="_blank">
<img src="https://hitwebcounter.com/counter/counter.php?page=8082559&style=0038&nbdigits=5&type=page&initCount=0" title="Free Counter" Alt="web counter"   border="0" /></a>   -->


